In [1]:
import pandas as pd

In [2]:
# Чтение CSV-файла с пропуском строк с индексами 2 и 3, а также последних 2 строк
df = pd.read_csv(
    '../data/feed-views.log',  # Замените на имя вашего файла
    sep = '\t',
    skiprows=[2, 3],  # Пропуск строк с индексами 2 и 3
    skipfooter=2,     # Пропуск последних 2 строк
    engine='python',  # Используем 'python' для поддержки skipfooter
    header=None,      # Указываем, что в файле нет заголовков
    names=['datetime', 'user']  # Присваиваем столбцам имена
)

In [3]:
# Устанавливаем столбец 'datetime' в качестве индекса
df.set_index('datetime', inplace=True)

# Переименовываем индексный столбец
df.index.name = 'date_time'

In [4]:
df

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

In [5]:
# Сохраняем DataFrame в файл с разделителем ";"
df.to_csv('../data/data_df/feed-views-semicolon.log', sep=';')