In [57]:
import pandas as pd

In [58]:
# Чтение из файла auto.json
df = pd.read_json('../data/auto.json', orient='records')

In [59]:
# CarNumber становится индексом
df.set_index('CarNumber', inplace=True)
df

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
E432XX77RUS        1   6500.000000  Toyota    Camry
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 4 columns]

In [60]:
# Отображение строк где Fines меньше 2100
filtered_df = df[df['Fines'] > 2100]
print(filtered_df)
print()
# Отображение строк где Fines меньше 2100 и Refund равно 2
filtered_df = df[(df['Fines'] > 2100) & (df['Refund'] == 2)]
print(filtered_df)

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
92918M178RUS       1   5700.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
E40577152RUS       1   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 4 columns]

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
M592CH197RUS       2   8594.586466       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   8594.586466      Toyota  Corolla

[309 rows x 4 columns]

In [61]:
# Отображение строк с Model = ['Focus', 'Corolla']
model_list = ['Focus', 'Corolla']
filtered_df = df[df['Model'].isin(model_list)]
print(filtered_df)
print()
# Отображение строк с CarNumber = ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']
car_number = ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']
filtered_df = df[df.index.isin(car_number)]
print(filtered_df)

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

              Refund          Fines  Make  Model
CarNumber
92928M178RUS       1    8594.586466  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
Y7689C197RUS       1   27000.000000  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus

In [62]:
# Отображение медианы Fines по Make
median_fines_by_make = df.groupby('Make')['Fines'].median()
print(median_fines_by_make)
print()
# Отображение медианы Fines по Make и Model
median_fines_by_make_model = df.groupby(['Make', 'Model'])['Fines'].median()
print(median_fines_by_make_model)

Make
Audi          4200.0
BMW           6500.0
Ford          3500.0
Skoda         3250.0
Toyota        7700.0
Volkswagen    4300.0
Volvo         8500.0
Name: Fines, dtype: float64

Make        Model
Audi        Witout model    4200.0
BMW         Witout model    6500.0
Ford        Focus           3500.0
            Mondeo          7650.0
Skoda       Octavia         3250.0
Toyota      Camry           7700.0
            Corolla         7700.0
Volkswagen  Golf            4800.0
            Jetta           2800.0
            Passat          3500.0
            Touareg         5800.0
            Witout model    7400.0
Volvo       Witout model    8500.0
Name: Fines, dtype: float64

In [63]:
# Количество Fines по Make и Model
make_model = df.groupby(['Make', 'Model'])['Fines'].count()
print(make_model)

Make        Model
Audi        Witout model      1
BMW         Witout model      3
Ford        Focus           575
            Mondeo            6
Skoda       Octavia          48
Toyota      Camry            16
            Corolla          18
Volkswagen  Golf             20
            Jetta             6
            Passat           22
            Touareg           5
            Witout model      3
Volvo       Witout model      2
Name: Fines, dtype: int64

In [64]:
# Минимальные и максимальные значения Fines
min_max_fin = df.groupby(['Make', 'Model'])['Fines'].agg(['min', 'max'])
print(min_max_fin)

                            min            max
Make       Model
Audi       Witout model  4200.0    4200.000000
BMW        Witout model  3000.0    8594.586466
Ford       Focus          100.0  180000.000000
           Mondeo        1100.0   46200.000000
Skoda      Octavia        300.0  145000.000000
Toyota     Camry          500.0   22400.000000
           Corolla        900.0   34300.000000
Volkswagen Golf           200.0  168000.000000
           Jetta          500.0   46000.000000
           Passat         100.0   29700.000000
           Touareg        500.0    8594.586466
           Witout model  1300.0    7900.000000
Volvo      Witout model  6800.0   10200.000000

In [65]:
# Отображение стандартного отклонения Fines
std_df = df.groupby(['Make', 'Model'])['Fines'].std()
print(std_df)

Make        Model
Audi        Witout model             NaN
BMW         Witout model     2826.561226
Ford        Focus           15041.269437
            Mondeo          18987.329108
Skoda       Octavia         24339.742174
Toyota      Camry            6410.250654
            Corolla          9629.325617
Volkswagen  Golf            36950.839950
            Jetta           17743.026799
            Passat           6969.739135
            Touareg          3461.778173
            Witout model     3674.688195
Volvo       Witout model     2404.163056
Name: Fines, dtype: float64

In [66]:
# Отображение по количеству Fines в порядке убывания
count_fines = df.groupby(['CarNumber'])['Fines'].count().sort_values(ascending=False)
print(count_fines)

CarNumber
Y7689C197RUS    4
7788KT197RUS    4
92928M178RUS    4
Y7129Y50RUS     3
X758HY197RUS    3
               ..
Y967O8197RUS    1
Y965O8197RUS    1
Y965EE197RUS    1
Y964O8197RUS    1
Y964EE197RUS    1
Name: Fines, Length: 531, dtype: int64

In [67]:
# Все строки самого заядлого нарушителя
number_intruder = count_fines.index[0]
print(number_intruder)
intruder_line = df[df.index == number_intruder]
print(intruder_line)

Y7689C197RUS
              Refund    Fines  Make  Model
CarNumber
Y7689C197RUS       1  27000.0  Ford  Focus
Y7689C197RUS       2   9000.0  Ford  Focus
Y7689C197RUS       2  45000.0  Ford  Focus
Y7689C197RUS       1  36000.0  Ford  Focus

In [68]:
# Номера автомобилей сгруппированные по сумме штрафов
sum_fines = df.groupby(['CarNumber'])['Fines'].sum().sort_values(ascending=False)
print(sum_fines)

CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
Y166O8161RUS       100.0
K326T8197RUS       100.0
Y195O8161RUS       100.0
C58078163RUS       100.0
705787163RUS       100.0
Name: Fines, Length: 531, dtype: float64

In [69]:
# Нарушитель который заплатил больше всех
number_intruder = sum_fines.index[0]
print(number_intruder)
intruder_line = df[df.index == number_intruder]
print(intruder_line)

X758HY197RUS
              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

In [70]:
# Номера привязанные к разным моделям
uniq_model = df.groupby(['CarNumber'])['Model'].nunique()
car_multi_number = uniq_model[uniq_model > 1]
print(df[df.index.isin(car_multi_number.index)])

              Refund   Fines        Make         Model
CarNumber
E316EH197RUS       1  1300.0  Volkswagen  Witout model
E316EH197RUS       1  1300.0  Volkswagen       Touareg